RA_USERNAME=your_retroachievements_username
RA_API_KEY=your_retroachievements_web_api_key
RA_BASE_URL=https://retroachievements.org/API
CACHE_DB_PATH=./data/retroachievements.sqlite
CACHE_TTL_GAMES_SECONDS=43200
CACHE_TTL_ACHIEVEMENTS_SECONDS=43200
CACHE_TTL_USER_PROGRESS_SECONDS=600
CACHE_TTL_USER_RECENT_SECONDS=300
